<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) Steven P. Goldsmith. All rights reserved.

Created by Steven P. Goldsmith on September 1, 2015
sgoldsmith@codeferm.com
-->
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       version="1.1" bean-discovery-mode="all">
</beans>