<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) Steven P. Goldsmith. All rights reserved.

Created by Steven P. Goldsmith on September 1, 2015
sgoldsmith@codeferm.com
-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>JCache using TomEE</display-name>
</web-app>
